.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 700;
    margin-top: 120px;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    background: #171717;
    border-radius: 10px;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .collections {
        grid-template-columns: 1fr 1fr 1fr; /* 3 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .collections {
        grid-template-columns: 1fr 1fr; /* 2 columns for smaller screens */
    }
}

@media (max-width: 600px) {
    .new-collections h1 {
        font-size: 36px; /* Smaller font size for mobile */
        margin-top: 80px; /* Adjust margin for mobile */
    }

    .collections {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}